# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules
.vercel
.env
/techspace-9t9k-firebase-adminsdk-vtagy-708ba868ca.json
./src/techspace-9t9k-firebase-adminsdk-vtagy-708ba868ca.json
